ALTER TABLE public.servers ADD COLUMN IF NOT EXISTS is_private BOOLEAN DEFAULT FALSE;
ALTER TABLE public.servers ADD COLUMN IF NOT EXISTS pin TEXT;

-- Update server policies to allow viewing basic info if you have an invite code
-- We allow selecting name, is_private, pin from servers if you have a valid invite code
-- Note: pin is needed for verification during join. 
-- For better security, we'd use a function, but for now we'll allow select.
DROP POLICY IF EXISTS \
Anyone
can
view
server
info
via
invite\ ON public.servers;
CREATE POLICY \Anyone
can
view
server
info
via
invite\
ON public.servers FOR SELECT
USING (
    EXISTS (
        SELECT 1 FROM public.invites
        WHERE server_id = public.servers.id
    )
);

